*{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


/* Header */
#header{
    background-color: black;
}
#header ul li{
    display: inline-block;
}
#header ul li a{
   color:white;
   font-weight: 400;
   text-decoration: none;
   text-transform: uppercase;
   padding:10px;
   margin-left:-4px;
   display: inline-block;
}

/* Intro */
#intro{
    height: 90vh;
    background-image: url('../img/intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color:white;
    padding-top:600px;
}


#intro h3{
    font-weight: 400;
}
#intro p{
    font-weight: 700;
}


/* Band */
#band{
    padding:150px 0px;
}
.container{
    width: 60%;
    margin:auto;
}

.title-wrapper{
     text-align: center;
}

.title-wrapper h2{
    font-weight: 400;
    letter-spacing: 5px;
}
.title-wrapper p{
    margin:30px 0px;
    letter-spacing: 1px;
    font-style: italic;
    color:rgb(133, 128, 128);
}
.band-paragraph p{
    text-align: justify;
    line-height: 28px;
}
.band-item{
    padding:55px 50px;
    display: inline-block;
    width: 30%;
    margin:0 1.5%;
    text-align: center;
}
.band-item img{
    width: 100%;
    border-radius: 7px;
}
.band-item h4{
    margin-bottom: 20px;
}



.first{
    width: 50%;
    height: 300px;
    margin-top: 10px;
    display: inline-block;
}
.second{
    width: 49%;
    height: 300px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    padding:0px 20px;
}

.first img{
    width: 100%;
    height: 500px;
}